@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header start */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-title{
    color: #FF900E;
    font-size: 3em;
    font-weight: 700;
}
nav>ul{
    display: flex;
    list-style: none;
   
}
nav li a{
    color: #424242;
    font-size: 1rem;
    margin-right: 30px;
    text-decoration: none;
}

.banner{
    text-align: center;
    margin: 0 auto;

}
.banner-contaient{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
    font-size: 1.1rem;
    font-weight: 400;
}
.btn-primary{
    background-color: #FF900E;
    border-radius: 10px;
    padding: 20px 25px;
    text-align: center;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;

}
.banner-image{
    width: 100%;
}
/* header end  */
/* main start */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.team-container{
    display: flex;
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-title{
    font-size: 2.5rem;
}
.team-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 500;
}
/* facts */
.fact-section{
    margin: 20px 70px;
}
.facts-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin: 40px 0 ;
}
.card{
    text-align: center;
    border: 2px solid #ffa33a;
    padding: 30px;
    border-radius: 10px;
}
.features{
    margin: 130px 0px;
}
.features-container{
    display: flex;
    align-items: center;
    gap: 100px;
}
.features-items>.team-title{
    border-left: 5px solid #FF900E;
    padding: 20px;
}
.features-items{
    padding: 10px;
}
.item{
    background-color: #dadcdd;
    box-shadow:0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin:10px auto;
}
.experiece{
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFF;
    width: 30%;
    text-align: center;
    position: relative;
    bottom: 80px;
    right: 50px;
    margin: 0%;
}
.experiece>h2{
    font-size: 2rem;
    padding: 10px;
}
.experiece>p{
    font-size: 1rem;
    padding: 10px;
    margin-top: -30px;
}
.sponsors{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
}
.sponsor-img{
    display: flex;
    justify-content: space-between;
}
.sponsor-img img{
    width: 8%;
}
.footer{
    background-color:#FFF4E7;
    width: 80%;
    text-align: center;
    margin: 30px auto;
    padding: 30px;
    font-size: 1rem;
    color: #727272;
    font-weight: 600;

}



/* mobile */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .team-container{
        flex-direction: column-reverse;
    }
    .teams-image-container{
        grid-template-columns:1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        border-radius: 8px;
    }
    .features-container{
        flex-direction: column;
        margin: 10px;
    }
    .features-image img{
        width: 350px;
    }
    .sponsor-img{
        justify-content: center;
        gap: 40px;
    }
    .experiece{
        bottom: 80px;
        left: 130px;
    }
    
}
/* tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 30px;
    }
    nav, .team-container{
        flex-direction: column;
    }
    .teams-image-container{
        grid-template-columns:repeat(2, 1fr);
    }
    .facts-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
         border-radius: 8px;
    }
    .features-container{
        flex-direction: column;
    }
    .features-image img{
        width: 800px;
    }
    .sponsor-img{
        justify-content: center;
        gap: 80px;
    }
    .experiece{
        bottom: 80px;
        left: 250px;
    }
}